@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Outrun Future";
    src: url("/fonts/outrun-future.woff2") format("woff2"),
        url("/fonts/outrun-future.woff") format("woff"),
        url("/fonts/outrun-future.otf") format("opentype");
    /* Add more src lines for additional font formats if needed */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Outrun Future Bold";
    src: url("/fonts/outrun-future-bold.woff2") format("woff2"),
        url("/fonts/outrun-future-bold.woff") format("woff"),
        url("/fonts/outrun-future-bold.otf") format("opentype");
    /* Add more src lines for additional font formats if needed */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Outrun Future Bold Italic";
    src: url("/fonts/outrun-future-bold-italic.woff2") format("woff2"),
        url("/fonts/outrun-future-bold-italic.woff") format("woff"),
        url("/fonts/outrun-future-bold-italic.otf") format("opentype");
    /* Add more src lines for additional font formats if needed */
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0;
    background: #000;
}

main {
    margin-top: 50em;
    overflow-y: auto;
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.wrapper {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    z-index: 1;
    position: relative;
}
.indicator {
    position: fixed;
    top: 0;
    width: 20px;
    background-color: rgba(54, 226, 248, 0.5);
    box-shadow: 0 0 20px rgba(54, 226, 248, 0.5), 0 0 10px rgba(54, 226, 248, 0.5),
        0 0 30px rgba(54, 226, 248, 0.5), 0 0 40px rgba(54, 226, 248, 0.5);
    z-index: 9999;
    transition: transform 0.3s ease;
}

.left-indicator {
    left: 0;
    height: 100%;
}

.right-indicator {
    right: 0;
    height: 100%;
}
.front,
.end {
    color: #c6cbf5;
    font-family: "Orbitron", sans-serif;
    font-size: 9rem;
    font-weight: 1000;
    line-height: 1.2;
    margin: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 3rem;
    width: auto;
    z-index: 11;
    background: -webkit-linear-gradient(
        top,
        #151c60,
        #c6cbf5 40%,
        darken(purple, 30%) 40%,
        #e1a0ce 65%,
        white
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.end {
    top: 18vh;
}

.dev {
    color: rgb(209, 0, 177);
    display: block;
    font-family: "Yellowtail", cursive;
    font-size: 8rem;
    position: absolute;
    text-shadow: 0 0 1px rgb(209, 0, 177), 0 -3px 3px rgba(white, 0.8), 0 3px 3px rgba(black, 0.5),
        0 0 40px rgb(209, 0, 177), 0 0 45px rgba(209, 0, 177, 0.8);
    text-align: center;
    text-decoration: underline;
    text-transform: none;
    transform: skew(-10deg) rotate(-10deg);
    top: 26vh;
    width: auto;
    z-index: 11;
    animation: flicker 0.2s infinite alternate;
}

.bg-sunrise {
    position: fixed;
    width: 100%;
    transition: top 1s;
    top: -15%;
    overflow: hidden;
}

.graph-container {
    overflow: hidden;
    position: fixed;
    width: 200%;
}

.graph {
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0px,
            rgba(54, 226, 248, 0.5) 0%,
            rgba(54, 226, 248, 0.5) 3px,
            rgba(0, 0, 0, 0) 0px
        ),
        linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0px,
            rgba(54, 226, 248, 0.5) 0%,
            rgba(54, 226, 248, 0.5) 3px,
            rgba(0, 0, 0, 0) 0px
        );

    background-size: 4em 4em, 4em 4em;
    background-color: black;
    border-top: 5px solid rgb(209, 0, 177);
    box-shadow: 0 -40px 45px rgb(209, 0, 177);
    height: 40em;
    perspective: 1000px;
    margin-top: 20em;
    transform: perspective(200px) rotateX(45deg) scale(2);
    animation: animateLines 20s linear infinite forwards;
}

.graph::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 95%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}

.graph::before {
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0) 30%,
        rgba(209, 0, 177, 0.5) 90%
    );
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}

.information-container {
    z-index: 10;
    position: relative;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-shadow: 0 0 40px rgba(222, 35, 243, 0.5);
    border: 3px solid rgba(255, 0, 238, 0.5);

    .information-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {
        text-align: center;
    }
    p {
        word-wrap: break-word;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    }
    .image-wrapper {
        display: flex;

        .star-rating {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-left: 1rem;

            .star {
                color: #ffd700;
                filter: drop-shadow(0 0 3px #ffd700) drop-shadow(0 0 3px #ffd700)
                    drop-shadow(0 0 8px #ffd700);
                font-size: 1.5rem;
            }
        }
    }

    .image-container {
        display: flex;
        flex-direction: column;
        bottom: 5em;
        width: 90%;
        justify-content: space-evenly;
        padding: 5px;
    }

    .portrait {
        border-radius: 25px;
        box-shadow: 0 0 40px rgba(222, 35, 243, 0.5);
        border: 5px solid rgba(255, 0, 238, 0.5);
        padding: 1rem;
        margin: 1rem auto;
    }

    .logo {
        padding: 10px;
        fill: none;
        stroke: #ff6ec4;
        stroke-width: 1;
        width: 4rem;
        height: auto;
        filter: drop-shadow(0 0 3px rgba(54, 226, 248, 0.9))
            drop-shadow(0 0 5px rgba(54, 226, 248, 0.9));
    }

    h3 {
        font-size: 2.5rem;
        font-family: "Outrun Future", sans-serif;
        color: rgba(209, 0, 177, 0.8);
        text-shadow: 0 0 2px rgba(209, 0, 177, 0.5), 0 2px 2px rgba(209, 0, 177, 0.4);
    }

    p {
        font-size: 1.1rem;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        color: rgba(54, 226, 248, 0.9);
    }
}
.carousel {
    transform: scale(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes flicker {
    0% {
        text-shadow: 0 0 1px rgb(209, 0, 177), 0 -3px 3px rgba(white, 0.8),
            0 3px 3px rgba(black, 0.5), 0 0 40px rgb(209, 0, 177), 0 0 45px rgba(209, 0, 177, 0.8);
    }
    50% {
        text-shadow: 0 0 1px rgb(209, 0, 177), 0 -3px 3px rgba(white, 0.8),
            0 3px 3px rgba(black, 0.5), 0 0 35px rgb(209, 0, 177), 0 0 45px rgba(209, 0, 177, 0.8);
    }
    100% {
        text-shadow: 0 0 1px rgb(209, 0, 177), 0 -3px 3px rgba(white, 0.8),
            0 3px 3px rgba(black, 0.5), 0 0 38px rgb(209, 0, 177), 0 0 45px rgba(209, 0, 177, 0.8);
    }
}
@keyframes animateLines {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 4em 4em;
    }
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.scroll-arrow {
    position: fixed;
    z-index: 999;
    cursor: pointer;
    fill: rgba(54, 226, 248, 0.5);
    border: 1px solid rgba(54, 226, 248, 0.5);
    box-shadow: 0 0 20px rgba(54, 226, 248, 0.5);
    transition: 0.5s;
    right: 20px;
}

.scroll-arrow:hover {
    fill: rgba(158, 243, 254, 0.5);
    box-shadow: 0 0 60px rgba(54, 226, 248, 0.9);
}

.scroll-arrow.up {
    transform: translateX(-50%);
    top: calc(20% - 10px);
}

.scroll-arrow.down {
    transform: translateX(-50%);
    bottom: calc(50% - 10px);
}
.button-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.btn {
    color: rgba(54, 226, 248, 0.9);
    border: 1px solid rgba(54, 226, 248, 0.5);
    box-shadow: 0 0 20px rgba(54, 226, 248, 0.5);
    border-radius: 8px;
    padding: 10px;
    font-size: 1.2rem;
    transition: 0.5s;
    margin: 1rem 0 0;
    width: 25%;
    &:hover {
        box-shadow: 0 0 40px rgba(54, 226, 248, 0.9);
        text-shadow: 0 0 20px rgba(54, 226, 248, 0.9);
    }
}
.embla {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
    transform: scale(0);
    padding-bottom: 5rem;
    width: min-content;
}
.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}
.embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
    width: 50%;
}
.embla__dot {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(54, 226, 248, 0.5);
    box-shadow: 0 0 20px rgba(54, 226, 248, 0.5);
    margin-top: 10px;
}
.embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: "";
}
.embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem var(--text-body);
    background-color: #000;
    box-shadow: 0 0 40px rgba(54, 226, 248, 0.5);
    transition: 0.5s;
}
